@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply w-screen h-screen transition-colors bg-white text-black dark:bg-background dark:text-white font-sans;
  }

  main {
    @apply p-5;
  }

  nav {
    @apply sticky top-0 z-10 text-white bg-primary px-5 py-3 w-full;
  }

  button {
    @apply transition-all w-auto border-2 text-white bg-primary border-primary rounded-lg p-2 mx-2 shadow-sm;
  }

  input {
    @apply p-2 shadow-sm rounded-lg bg-white text-black dark:bg-background dark:text-white;
  }

  [tabindex] {
    @apply border-2 border-transparent;
  }

  :focus,
  :focus-visible {
    @apply outline-none !border-focus border-2 border-solid rounded-lg shadow-sm shadow-focus;
  }

  .blob {
    position: absolute;
    opacity: 0.5;
    width: 400px;
    aspect-ratio: 1/1;
    animation: blob 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate
      forwards;
    filter: blur(40px);
    z-index: -1;
    background: linear-gradient(
      47deg,
      var(--color-secondary) 21%,
      var(--color-focus) 67%,
      var(--color-primary) 81%
    );
  }

  @keyframes blob {
    0% {
      translate: 40% -25%;
      border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
    }
    50% {
      translate: 0% 13%;
      border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
      rotate: 41deg;
      scale: 1.15;
    }
    100% {
      translate: -45% 39%;
      border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
      rotate: -60deg;
      scale: 1.05;
    }
  }
}
